body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(192, 217, 241);
}

#btn{
    width: 100%;
    padding: 10px;
    background-color: rgb(63, 61, 207);
    color: white;
    text-shadow: black;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 15px;
}

#prodform {
    background-color: #4d6fa1;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
}

#prodform label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#prodform input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#prodform button:hover {
    background-color: #005007;
}

.p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.986);
    font-size: 15px;
}